/* header */

.pag > a {
    position: relative;
    color: #354d2a;
}

.pag a:last-child::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5a933c;
}

.pag > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5a933c;
    transition: width 0.3s ease;
}

.pag > a:hover::after {
  width: 100%;
}

/* Principais da pagina */

main {
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
}


.centralizar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    'titulo vazio'
    'p1 p2';
    gap: 2rem;
}
.centralizar > h1 {
    grid-area: titulo;
    color: var(--texto-escuro);
    font-size: 2rem;
}

aside {
    grid-area: p2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

aside > * > * {
    color: var(--texto-escuro);
    margin: 0;
}

/* Resposividade */

@media screen and (max-width: 768px) {
    .centralizar {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr;
        grid-template-areas: 'titulo' 'p2' 'p1' 'vazio';
    }
}
