/* Estilização da página principal(home) */

img {
    height: 150px;
    width: 120px;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
}

.c1 {
    background-color: #e5f3dd;
}

main > .centralizar {
    display: flex;
    flex-direction: column;
}

.hello {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #e5f3dd;
    padding: 1rem;
}

.world {
    display: flex;
    flex-direction: column;
}

.world > p {
    margin: 0;
}

.world > h2 {
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}