/* Estilização da página principal(home) */

/* header */

.pag > a {
    position: relative;
    color: #354d2a;
}

.pag a:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5a933c;
}

.pag > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5a933c;
    transition: width 0.3s ease;
}

.pag > a:hover::after {
  width: 100%;
}

/*  */

img {
    height: 150px;
    width: 120px;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
}

.c1 {
    background-color: #e5f3dd;
}

main > .centralizar {
    display: flex;
    flex-direction: column;
}

.hello {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #e5f3dd;
    padding: 1rem;
}

.world {
    display: flex;
    flex-direction: column;
}

.world > p {
    margin: 0;
}

.world > h2 {
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}