/* Estilização da página principal(home) */

body {
    background-color: #ffffff;
}

/* AJEITAR A BARRA DE ROLAGEM EMBAIXO */

/* header */

.pag > a {
    position: relative;
    color: #354d2a;
}

.pag a:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5a933c;
}

.pag > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5a933c;
    transition: width 0.3s ease;
}

.pag > a:hover::after {
    width: 100%;
}

/* Main */

/* Hero */

#mar {
    margin-top: 0;
}

img {
    height: 200px;
    width: 160px;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
}

.hero {
    background-color: #e5f3dd;
    margin: 57px 0 2rem 0;
}

main > .centralizar {
    display: flex;
    flex-direction: column;
}

.hello {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #e5f3dd;
    padding: 1rem;
}

.world {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.world > p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--texto-escuro);
}

.world > h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--cor-segundaria);
}

/* Características */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

aside i, aside p, aside h3 {
    color: var(--texto-escuro);
    margin: 0;
}

.info h2 {
    font-size: 2rem;
    color: var(--cor-segundaria);
}

/* Recursividade */

@media screen and (max-width: 992px) {
    .hello {
        flex-direction: column;
        align-items: center;
    }
    
    .world {
        align-items: center;
    }

    .world p, .world h2 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .meio {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 576px) {
    .meio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}

