/* header */

.pag > a {
    position: relative;
    color: #354d2a;
}

.pag a:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5a933c;
}

.pag > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5a933c;
    transition: width 0.3s ease;
}

.pag > a:hover::after {
  width: 100%;
}

/*  */

main {
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    flex-wrap: nowrap;
    text-align: center;
}

.inicio > h1 {
    color: var(--cor-segundaria);
    margin: 0;
    padding: 1.5rem;
}

.butao {
    display: flex;
}

/* Responsividade */

@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:'p1' 'p2' 'p3' 'p4' 'p5' 'p6' 'p7' 'p8';
        gap: 2rem;
    }
}