/* style.css - Arquivo principal */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--fundo-claro);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
}

.centralizar {
    width: 1200px;
}

:root {
    --cor-primaria: #5a933c;
    --cor-primaria-escura: #48762e;
    --cor-segundaria: #354d2a;
    --fundo-claro: #ecf0f1;
    --fundo-hero: #e5f3dd;
    --texto-escuro: #333333;
    --texto-cinza: #777777;
    --sombra: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

span {
    color: #5a933c;
}

a {
    text-decoration: none;
}

/* Main */

main {
    margin: 57px 0 48px 0;
}

/* Responsividade */


@media screen and (max-width: 768px) {

    .f_p1 {
        grid-template-columns: 1fr;
        grid-template-areas: 'sobre' 'links' 'redes';
    }
}

@media screen and (max-width: 576px) {

    .f_p1 {
        grid-template-columns: 1fr;
        grid-template-areas: 'sobre' 'links' 'redes';
    }
}