
form { 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    
}
.input {
    display: flex;
    flex-direction: column;
    grid-area: p1;
    
}

.input_1 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}