.input {
    display: flex;
    flex-direction: column;
    grid-area: p1;
    
}

form { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    padding: 1.5rem;
    box-shadow: var(--sombra);
    
}

input {
    border: 1px solid rgba(119, 119, 119, 0.5);
    padding: 1rem;
    border-radius: 5px;
    transition: border 0.3s ease;
}

input:focus {
  border: 2px solid var(--cor-primaria);
  outline: none;
}

label {
    font-size: 1rem;
    color: var(--texto-escuro);
    font-weight: 500;
}

select {
    padding: 1rem;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 5px;
    background-color: rgba(119, 119, 119, 0.2);
    color: var(--texto-escuro);
    position: relative;
    transition: border 0.3s ease;
}

select:focus {
    border: 2px solid var(--cor-primaria);
}

textarea {
    padding: 1rem;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 5px;
    position: relative;
    transition: border 0.3s ease;
}

textarea:focus {
    border: 2px solid var(--cor-primaria);
}